#web_bg{
    background-image: url(""), linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("https://lgxs.liuguoxing.top/bg/bgs.jpg");
}

.hide-block>a.hide-button.open, .hide-inline>a.hide-button.open {
    display: inline-block;
}

/* 文章页背景 */
.layout_post>#post {
    /* 以下代表白色透明度为0.3 */
    background: rgba(255,255,255,0.3);
}
/* 所有背景（包括首页卡片、文章页、页面页等） */
#aside_content .card-widget, #recent-posts>.recent-post-item, .layout_page>div:first-child:not(.recent-posts), .layout_post>#page, .layout_post>#post, .read-mode .layout_post>#post{
    /* 以下代表白色透明度为0.3 */
    background: rgba(255,255,255,0.3);
}

#aside-content .card-widget{
    background: rgba(255,255,255,0.3);
}

#recent-posts > .recent-post-item >.recent-post-info > .article-meta-wrap {
    color: #000;
}

#recent-posts > .recent-post-item >.recent-post-info > .article-meta-wrap a {
    color: #000;
}

#aside-content .aside-list > .aside-list-item .content > time, #aside-content .aside-list > .aside-list-item .content > .name {
    color: #000;
}